.container
  %h1.page__ttl
    All Boards
  .boards
    - @boards.each do |board|
      .boards__wrapper.d-f
        .boards__wrapper__txt
          %h2.boards__wrapper__txt__ttl
            = board.title
          %p.boards__wrapper__txt__content
            = board.content
        .boards__wrapper__dropdown
          = image_tag 'Combined-Shape.png', class: 'cbd-shp'
        .boards__wrapper__opt
          .boards__wrapper__opt__avtImg
            = image_tag 'Oval-male.png', class: 'user-avt-img'