@import 'mixin';
@import 'buttons';

.container {
  @include cnt(921px);
  & .page__ttl {
    position: absolute;
    height: 36px;
    margin-left: 26px;
    top: 92px - 58px;
    @include fz-26_lh-36;
    font-weight: 800;
    }
  & .authen,
  & .newBoard,
  & .newTask,
  & .newComment {
    position: absolute;
    left: 26px;
    top: 161px - 58px;
    & .field {
      & .lbl-eml {
        margin-bottom: 4px;
      }
      & .eml-fld {
        @include txt-area;
        margin-bottom: 33px;
      }
      & .lbl-pwd {
        margin-bottom: 7px;
      }
      & .pwd-fld {
        @include txt-area;
        margin-bottom: 16px;
      }
      & .lbl-pwc {
        margin-bottom: 9px;
      }
      & .pwc-fld {
        @include txt-area;
      }
      // new board
      & .lbl-name {
        height: 25px;
        margin-bottom: 8px;
      }
      & .txt-name {
        width: 362px;
        height: 40px;
        background-color: $card-bg-color;
        border-radius: 10px;
        margin-bottom: 33px;
      }
      & .lbl-cont {
        height: 25px;
        margin-bottom: 8px;
      }
      & .tarea-cont {
        width: 362px;
        height: 203px;
        background-color: $card-bg-color;
        border-radius: 10px;
      }
    }
    .actions {
      position: absolute;
      top: 849px - 58px;
      margin-bottom: 32px;
    }
  }
}