$base-bg-color: #FFFFFF;
$text-base-color: #000000;
$max-hit-base: 1200px;

@mixin cnt($max-hit-base) {
  position: relative;
  width: 414px;
  height: 100%;
  max-height: $max-hit-base;
  margin: 0 auto;
}

@mixin fz-26_lh-36 {
  font-size: 26px;
  line-height: 36px;
}

@mixin fz-18_lh-25 {
  font-size: 18px;
  line-height: 25px;
}

@mixin fz-14_lh-19 {
  font-size: 14px;
  line-height: 19px;
}

@mixin txt-area {
  width: 362px;
  height: 40px;
  background-color: #F4F4F4;
  border-radius: 10px;
}

@mixin card-new {
  width: 362px;
  height: 160px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  & a {
    text-decoration: none;
    & p {
      cursor: pointer;
      color: #000;
    }
  }
}