@import 'mixin';

.container-task {
  @include cnt($max-hit-base);
  & .page__ttl {
    position: absolute;
    height: 36px;
    margin-left: 30px;
    top: 76px - 58px;
    font-weight: 800;
    @include fz-26_lh-36;
  }
  & .tasks {
    position: absolute;
    width: 362px;
    left: 30px;
    top: 133px - 58px;
    // board
    &__ttl {
      height: 25px;
      font-weight: 800;
      margin-bottom: 9px;
    }
    &__content {
      height: 50px;
      overflow: hidden;
    }

    &__wrapper {
      margin-bottom: 24px;
      background-color: #F4F4F4;
      border-radius: 10px;
      &__ttl {
        height: 25px;
        max-width: 293px;
        font-weight: 800;
        overflow: hidden;
        margin-top: 15px;
        margin-left: 16px;
        margin-bottom: 6px;
      }
      &__content {
        height: 19px;
        max-width: 293px;
        overflow: hidden;
        @include fz-14_lh-19;
        opacity: .4;
      }
    }
  }
}

.avtImg {
  height: 30px;
  margin-top: 36px;
  .user-avt-img {
    width: 30px;
    height: 30px;
  }
}