@import 'mixin';

.container-task {
  @include cnt($max-hit-base);
  & .page__ttl {
    position: absolute;
    height: 36px;
    margin-left: 30px;
    top: 76px - 58px;
    font-weight: 800;
    @include fz-26_lh-36;
  }
  & .tasks {
    position: absolute;
    width: 362px;
    left: 30px;
    top: 133px - 58px;
    // board
    &__wrapper-t {
      padding: 3px;
      background-color: $card-bg-color;
      border-radius: 10px;
      margin-bottom: 24px;
      padding: 0;
      &__t-ttl {
        font-weight: 800;
        margin-left: 16px;
        padding-top: 15px;
      }
      &__t-content {
        overflow: hidden;
        margin-top: 9px;
        margin-left: 20px;
      }
      & .avtImg {
        @include avt-wrp;
      }
    }

    &__wrapper {
      margin-bottom: 24px;
      background-color: $card-bg-color;
      border-radius: 10px;
      padding-left: 20px;
      &__ttl {
        max-width: 293px;
        font-weight: 800;
        overflow: hidden;
        padding-top: 27px;
        margin-bottom: 6px;
      }
      &__content {
        max-width: 293px;
        overflow: hidden;
        @include fz-14_lh-19;
        opacity: .4;
      }
      &__opt {
        width: 362px;
        &__avtImg {
          @include avt-wrp;
        }
        &__limit {
          margin-top: 36px;
          margin-left: auto;
          margin-right: 41px;
          padding-bottom: 20px;
        }
      }
    }
    // Add card
    & .mk-new {
      @include card-new;
    }
  }
}


.user-avt-img {
  @include avt-wh;
}