@import 'mixin';

.container-task {
  @include cnt($max-hit-base);
  // -- Board/show --
  & .page__ttl {
    position: absolute;
    height: 36px;
    margin-left: 30px;
    top: 76px - 58px;
    font-weight: 800;
    @include fz-26_lh-36;
  }
  & .tasks {
    position: absolute;
    width: 362px;
    left: 30px;
    top: 133px - 58px;
    // board
    &__wrapper-t {
      padding: 3px;
      background-color: $card-bg-color;
      border-radius: 10px;
      margin-bottom: 24px;
      padding: 0;
      &__t-ttl {
        font-weight: 800;
        margin-left: 16px;
        padding-top: 15px;
      }
      &__t-content {
        overflow: hidden;
        margin-top: 9px;
        margin-left: 20px;
      }
      & .avtImg {
        @include avt-wrp;
      }
    }
    // tasks
    &__wrapper {
      margin-bottom: 24px;
      background-color: $card-bg-color;
      border-radius: 10px;
      & .card_image {
        padding-top: 20px;
        text-align: center;
        & .eyecatch {
        width: 90%;
        }
      }
      &__ttl {
        max-width: 293px;
        font-weight: 800;
        overflow: hidden;
        padding-top: 27px;
        margin-bottom: 6px;
        padding-left: 20px;
      }
      &__content {
        max-width: 293px;
        overflow: hidden;
        @include fz-14_lh-19;
        opacity: .4;
        padding-left: 20px;
      }
      &__opt {
        width: 362px;
        &__avtImg {
          @include avt-wrp;
        }
        &__limit {
          margin-top: 36px;
          margin-left: auto;
          margin-right: 41px;
          padding-bottom: 20px;
        }
      }
    }
    // Add card
    & .mk-new {
      @include card-new;
    }
  }
}
// -- Task/show --
.container-task-show {
  @include cnt(951px);
  & .task {
    position: absolute;
    top: 91px - 58px;
    &__wrapper {
      width: 362px;
      margin-left: 24px;
      & .page__ttl {
        @include fz-26_lh-36;
        font-weight: 800;
      }
      & .card__dropdown {
        width: 24px;
        height: 6px;
        margin-left: auto;
      }
    }
    & .card_image {
      text-align: center;
      margin-top: 32px;
      & .eyecatch {
        width: 90%;
        border-radius: 8px;
      }
    }
    &__content {
      width: 362px;
      text-align: center;
      background-color: $card-bg-color;
      border-radius: 10px;
      margin: 35px auto 0;
      & p {
        width: 331px;
        margin: 20px 16px 26px 15px;
        @include fz-14_lh-19;
      }
    }
  }
}

.user-avt-img {
  @include avt-wh;
}