@import 'mixin';
@import 'commons';
@import 'header';
@import 'card';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  color: $text-base-color;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  @include fz-18_lh-25;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
  flex-wrap: wrap;
}