@import 'mixin';

.container {
  @include cnt($max-hit-base);
  & .page__ttl {
    position: absolute;
    height: 36px;
    margin-left: 30px;
    top: 90px - 58px;
    @include fz-26_lh-36;
  }
  & .boards {
    position: absolute;
    width: 362px;
    left: 30px;
    top: 161px - 58px;
    &__wrapper {
      height: 161px;
      margin-bottom: 26px;
      background-color: #F4F4F4;
      border-radius: 10px;
      &__txt {
        width: 293px;
        height: 50px;
        margin-top: 32px;
        margin-left: 17px;
        &__ttl {
          height: 25px;
          max-width: 293px;
          overflow: hidden;
          margin-bottom: 6px;
        }
        &__content {
          height: 19px;
          max-width: 293px;
          overflow: hidden;
          @include fz-14_lh-19;
          opacity: .4;
        }
      }
      &__dropdown {
        margin-top: 39px;
        margin-left: 12px;
        width: 24px;
        height: 6px;
      }
      &__opt {
        &__avtImg {
          .user-avt-img {
            width: 30px;
            height: 30px;
            margin-top: 29px;
            margin-left: 20px;
          }
        }
      }
    }
    & .mk-new {
      width: 362px;
      height: 160px;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      & p {
        cursor: pointer;
      }
    }
  }
}
